@page
@model TwigaCRM.Pages.PerformanceReports.MonthlyPerformanceReportModel

@{
    if (Model.Targets.Count() >= 1)
    {
        ViewData["Title"] = @Model.Targets[0].SalesMovement.SalesPerson.FirstName + " " + @Model.Targets[0].SalesMovement.SalesPerson.LastName + " - Monthly Performance";
    }
    else
    {
        ViewData["Title"] = "NO Data";
    }
    decimal TargetQuantity;
    decimal ActualQuantity;
    decimal TargetValue;
    decimal ActualValue;

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="container-fluid">
    <div class="card card-outline card-primary">
        <div class="card-header text-center row">
            <p class="h2 col-md-9">Month Performance Report</p>
            @*<a asp-page="./DemoPrintOut" asp-route-id="@Model.Demo.Id" class="btn btn-success col-md-2">Generate Print Out</a>*@
            <p class="col-md-3">
                @*@Week
                @Weektwo
                @Weekthree
                @Weekfour
                @Weekfive
                @newDate*@
            </p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form class="form-row" method="post">
                        <div class="col-md-3 mx-2">
                            <label asp-for="Input.SalesPersonId">Sales Person</label>
                            <div class="row">
                                <select id="ddlSalesPersons" asp-for="Input.SalesPersonId" name="Input.SalesPersonId" asp-items="ViewBag.SalesPersons" class="form-control" style="width: 100%">
                                    <option value="">--  Select SalesPersons  --</option>
                                </select>
                            </div>
                            <span asp-validation-for="Input.SalesPersonId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mx-2">
                            <label asp-for="Input.Month" class="control-label"></label>
                            <select asp-for="Input.Month" class="form-control">
                                <option value="">-- Select Month --</option>
                                <option value="1">JAN</option>
                                <option value="2">FEB</option>
                                <option value="3">MAR</option>
                                <option value="4">APR</option>
                                <option value="5">MAY</option>
                                <option value="6">JUN</option>
                                <option value="7">JUL</option>
                                <option value="8">AUG</option>
                                <option value="9">SEP</option>
                                <option value="10">OCT</option>
                                <option value="11">NOV</option>
                                <option value="12">DEC</option>
                            </select>
                            <span asp-validation-for="Input.Month" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mx-2">
                            <label asp-for="Input.FinancialYearId">Financial Year</label>
                            <div class="row">
                                <select id="ddlFinancialYears" asp-for="Input.FinancialYearId" name="Input.FinancialYearId" asp-items="ViewBag.FinancialYears" class="form-control" style="width: 100%">
                                    <option value="">--  Select FinancialYears  --</option>
                                </select>
                            </div>
                            <span asp-validation-for="Input.FinancialYearId" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mt-4">
                            <button type="submit" asp-page="./PerformanceReports" class="btn btn-primary mb-2">Generate Month Report</button>
                        </div>
                    </form>
                  </div>
                </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header row">
                            @if (Model.Targets.Count() >= 1)
                            {
                                <h3 class="card-title col-md-9">@Model.Targets[0].SalesMovement.SalesPerson.FirstName @Model.Targets[0].SalesMovement.SalesPerson.LastName Monthly Performance</h3>
                            }
                            else
                            {
                                <h3 class="card-title col-md-9">No Data</h3>
                            }
                            <span class="col-md-3">

                            </span>
                        </div>
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                            <tr>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Product Description
                                </th>
                                <th>
                                    Target Movement Volume
                                </th>
                                <th>
                                    Actual Movement Volume
                                </th>
                                <th>
                                    Target Movement Value
                                </th>
                                <th>
                                    Actual Movement Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var target in Model.Targets)
                                {
                                    TargetQuantity = 0;
                                    TargetQuantity = target.Volume;
                                    ActualQuantity = 0;
                                    foreach (var dm in Model.DailyMovements)
                                    {
                                        if (target.Product == dm.Product)
                                        {
                                            ActualQuantity += dm.Quantity;
                                        }
                                    }

                                    TargetValue = (TargetQuantity / target.Product.PackagingSize) * (target.Product.Price * target.Product.PackagingSize);
                                ActualValue = (ActualQuantity / target.Product.PackagingSize) * (target.Product.Price * target.Product.PackagingSize);
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => target.Product.Name)
                                        <span>( </span>
                                        @Html.DisplayFor(modelItem => target.Product.Code)
                                        <span>) </span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => target.Product.Description)
                                    </td>
                                    <td>
                                        @String.Format("{0:#,##0.00}",@TargetQuantity)
                                        @Html.DisplayFor(modelItem => target.Product.UnitOfMeasure)
                                    </td>
                                    <td>
                                        @String.Format("{0:#,##0.00}",@ActualQuantity)
                                        @Html.DisplayFor(modelItem => target.Product.UnitOfMeasure)
                                    </td>
                                    <td>
                                        KSh @String.Format("{0:#,##0.00}", @TargetValue)
                                    </td>
                                    <td>
                                        KSh @String.Format("{0:#,##0.00}", @ActualValue)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-10">
                    </div>
                    <!-- /.col -->
                    <div class="col-2">
                        <a class="btn btn-secondary" asp-page="./PerformanceReports">Back</a>
                    </div>
                </div>
                  </div>
            </div>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        $(document).ready(function () {
            $("#ddlFinancialYears").select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#ddlSalesPersons").select2();
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlFinancialYears", function () {
            $("input[name=FinancialYearId]").val($(this).find("option:selected").text());
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlSalesPersons", function () {
            $("input[name=SalesPersonId]").val($(this).find("option:selected").text());
        });
    </script>