@page
@model TwigaCRM.Pages.RAMPlans.IndexModel

@{
    ViewData["Title"] = "R.A.M Route Plans";
    var AllRAMPlans = @Model.RAMPlans;
    var DisplayableRAMPlans = @Model.RAMPlans;
    bool CanViewAllRAMPlans = false;
    foreach (var userpermission in Model.AppUser.AppRole.AppRolePermissions)
    {
        @foreach (var permission in Model.Permissions)
        {
            @if (permission.Id == userpermission.PermissionId && permission.Name == "view_all_RAM_route_plans_list")
            {
                CanViewAllRAMPlans = true;
                break;
            }
        }
    }
    if (CanViewAllRAMPlans)
    {
        DisplayableRAMPlans = AllRAMPlans;
    }
    else
    {
        DisplayableRAMPlans = AllRAMPlans.Where(d => d.RAMId == Model.AppUser.Id).ToList();
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Route Plans</h3>
        <span class="col-md-2">
            <a class="btn btn-success" href="" data-toggle="modal" data-target="#InputModal">New Route Plan</a>
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RAMPlans[0].RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMPlans[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMPlans[0].IsSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMPlans[0].ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMPlans[0].UpdateAt)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in DisplayableRAMPlans)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RAM.FirstName)
                @Html.DisplayFor(modelItem => item.RAM.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td class="row">
                @if (item.IsSubmitted)
                {
                    <a disabled data-toggle="tooltip" data-placement="top" title="Can't Edit" class="col-5"><i class="fa fa-pencil-square-o text-secondary" aria-hidden="true"></i></a> <span>|</span>
                    <a asp-page="./Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" class="col-5"><i class="fa fa-info" aria-hidden="true"></i></a>
                }
                else
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" class="col-5"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <span>|</span>
                    <a asp-page="./Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" class="col-5"><i class="fa fa-info" aria-hidden="true"></i></a>
                }
            </td>
        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@*New Route modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="InputModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Route Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addForm">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RAMPlan.RAMId" class="control-label">Sales Person</label>
                            <input value="@Model.AppUser.FirstName @Model.AppUser.LastName" class="form-control" disabled />
                            <input asp-for="RAMPlan.RAMId" value="@Model.AppUser.Id" class="form-control" hidden />
                        </div>
                        <div class="form-group">
                            <label asp-for="RAMPlan.StartDate" class="control-label"></label>
                            <input asp-for="RAMPlan.StartDate" class="form-control" />
                            <span asp-validation-for="RAMPlan.StartDate" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submit">Action</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

