@page
@model TwigaCRM.Pages.Permissions.IndexModel

@{
    ViewData["Title"] = "Permissions";
}
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-8">Permission</h3>
        <span class="col-md-2">
            <a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Permission</a>
        </span>
        <span class="col-md-2">
            @if (Model.AppUser.AppRole.Id == 1)
            {
                <a class="btn btn-secondary" href="" id="Input" data-toggle="modal" data-target="#ImportModal">Import Permissions</a>
            }
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].CreateAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissions[0].UpdateAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permissions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td class="row">
                <a asp-page="./Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" class="col-5"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
@*New Permission Assignment modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="InputModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Permission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addForm">
                    <form method="post">
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Permission.Name" class="control-label"></label>
                            <input asp-for="Permission.Name" class="form-control" />
                            <span asp-validation-for="Permission.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Permission.Description" class="control-label"></label>
                            <input asp-for="Permission.Description" class="form-control" />
                            <span asp-validation-for="Permission.Description" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submit">Action</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*New Import modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="ImportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Receipt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addForm">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        
                        <div>
                           <p>Load Permissions from Excel Worksheet(supported file types are .xls or .xlsx)</p> 
                           <p>Excel file should have columns in following order: </p> 
                           <p>Permission Name , Permission Description> 
                           <p>First row is the title row.</p> 
                        </div>
                        <div class="form-group">
                            <label asp-for="Upload" class="control-label">Upload File</label>
                            <input asp-for="Upload" class="form-control" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" asp-page-handler="Import" class="btn btn-primary" id="submit">Action</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>