@page
@model TwigaCRM.Pages.QuestionResponses.IndexModel

@{
    ViewData["Title"] = "Responses";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Questions</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Question</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                Spoke To
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionResponse[0].Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionResponse[0].Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionResponse[0].UpdateAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.QuestionResponse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Call.SpokenTo.FirstName)
                @Html.DisplayFor(modelItem => item.Call.SpokenTo.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                <a asp-page="../Calls/Details" asp-route-id="@item.CallId" data-toggle="tooltip" data-placement="top" title="View Call Details" class="col-5"><i class="fa fa-info" aria-hidden="true"></i></a>

            </td>
        </tr>
}
    </tbody>
        </table>
    </div>
</div>
