@page
@model TwigaCRM.Pages.RoutePlanReports.TMSSPReportModel

@{
        ViewData["Title"] = "Demo Report";

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="container-fluid">
    <div class="card card-outline card-primary">
        <div class="card-header text-center row">
            <p class="h2 col-md-9">Demo Report</p>
            <p class="col-md-3">
            </p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form class="form-row" method="post">
                        <div class="col-md-3 mx-2">
                            <label asp-for="Input.StartDate">Start Date</label>
                            <input asp-for="Input.StartDate" class="form-control" />
                            <span asp-validation-for="Input.StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mx-2">
                            <label asp-for="Input.EndDate">End Date</label>
                            <input asp-for="Input.EndDate" class="form-control" />
                            <span asp-validation-for="Input.EndDate" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 mt-4">
                            <button type="submit" asp-page="./RoutePlanReports" asp-page-handler="TMSSP" class="btn btn-primary mb-2">Generate Report</button>
                        </div>
                    </form>
                  </div>
                </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header row">
                            @if (Model.Routes.Count() >= 1)
                            {
                                <h3 class="card-title col-md-9">Routes (@Model.StartedDate.ToLongDateString() - @Model.EndedDate.ToLongDateString())</h3>
                            }
                            else
                            {
                                <h3 class="card-title col-md-9">No Data</h3>
                            }
                        </div>
                        <table class="table table-bordered table-striped" id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Routes[0].Day)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Routes[0].RouteDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Routes[0].Zone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Routes[0].Activity)
                                    </th>
                                    <th>
                                        Location Pinned
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Routes[0].UpdateAt)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Routes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RouteDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Zone.Town.Region.Name)
                                            <span> - </span>
                                            @Html.DisplayFor(modelItem => item.Zone.Town.Name)
                                            <span> - </span>
                                            @Html.DisplayFor(modelItem => item.Zone.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Activity)
                                        </td>
                                        <td>
                                            @if (item.ActualLat != null && item.ActualLong != null)
                                            {
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateAt)
                                        </td>
                                        <td class="row">
                                            <a asp-page="../Plans/Details" asp-route-id="@item.Plan.Id" data-toggle="tooltip" data-placement="top" title="Details" class="col-5"><i class="fa fa-info" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-md-12 row">
                    <div class="col-10">
                    </div>
                    <!-- /.col -->
                    <div class="col-2">
                        <a class="btn btn-secondary" asp-page="./RoutePlanReports">Back</a>
                    </div>
                </div>
                  </div>
            </div>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
