@page
@model TwigaCRM.Pages.DailyMovements.DetailsModel

@{
    ViewData["Title"] = "D.M.R - Details";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="container-fluid">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <p class="h3">Daily Movement Report Details</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h5 class="col-md-12">
                            <label>Sales Person Name:</label>
                            @Model.DailyMovementReport.SalesPerson.FirstName @Model.DailyMovementReport.SalesPerson.LastName
                        </h5>
                        <h6 class="text-primary col-md-12">
                            @Model.DailyMovementReport.SalesPerson.PhoneNumber
                        </h6>
                        <hr />
                        <p class="col-md-12">ROLE : <span>@Model.DailyMovementReport.SalesPerson.AppRole.Title</span></p>
                        <div class="col-md-3">
                            <label>Region: </label>
                        </div>
                        <div class="col-md-3 text-primary">
                            <p>@Model.DailyMovementReport.SalesPerson.Town.Region.Name</p>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <label>Town: </label>
                        </div>
                        <div class="col-md-3 text-primary">
                            <p>@Model.DailyMovementReport.SalesPerson.Town.Name</p>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="col-md-4 row">

                    <div class="col-md-6">
                        <label>F.O.A Approval Status: </label>
                    </div>
                    <div class="col-md-6 text-primary">
                        <p>@Model.DailyMovementReport.FOAstatus</p>
                    </div>
                    <div class="col-md-6 ">
                        <label>T.L Approval Status:</label>
                    </div>
                    <div class="col-md-6  text-primary">
                        <p>@Model.DailyMovementReport.TLstatus</p>
                    </div>
                    <hr/>
                    @if (Model.DailyMovementReport.IsSubmitted == false)
                    {
                        <div>
                            <a asp-page="../DailyMovementReports/Submit" asp-route-id="@Model.DailyMovementReport.Id" class="btn btn-primary rounded">Submit D.M.R</a>
                        </div>
                    }else{
                        <div>
                            <a disabled class="btn btn-secondary rounded">Submit D.M.R</a>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header row">
                            <h3 class="card-title col-md-9">Movement</h3>
                            <span class="col-md-3">

                                @if (Model.DailyMovementReport.IsSubmitted == false)
                                {
                                    <a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">Add Daily Movement</a>
                                }
                                else
                                {
                                    <a disabled class="btn btn-secondary">Add Daily Movement</a>
                                }
                            </span>
                        </div>
                        <table class="table table-bordered table-striped" id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DailyMovements[0].Product)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DailyMovements[0].Product.Description)
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DailyMovements[0].TotalAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DailyMovements[0].MainDistributor)
                                    </th>
                                    <th>
                                        Stockist / Farmer
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DailyMovements[0].UpdateAt)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DailyMovements)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.Name)
                                            <span> (</span>
                                            @Html.DisplayFor(modelItem => item.Product.Code)
                                            <span>)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            KSh @String.Format("{0:#,##0.00}", item.TotalAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MainDistributor.SiteName)
                                        </td>
                                        <td>
                                            @foreach (var customer in Model.AllCustomers)
                                            {
                                                if (customer.Id == item.StockistOrFarmerId)
                                                {
                                                    <span>@customer.SiteName</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateAt)
                                        </td>
                                         <td class="row">
                                            @if (Model.DailyMovementReport.IsSubmitted)
                                            {
                                                <a disabled data-toggle="tooltip" data-placement="top" title="Can't Edit" class="col-5"><i class="fa fa-pencil-square-o text-secondary" aria-hidden="true"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-page="./Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" class="col-5"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            }
                                         </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="col-md-12 row">
                    <div class="col-10">
                    </div>
                    <!-- /.col -->
                    <div class="col-2">
                        <a class="btn btn-secondary" asp-page="./DailyMovements">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*New Daily Movement modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="InputModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Record Daily Movement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addForm">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="DailyMovement.DailyMovementReportId" value="@Model.DailyMovementReportId" class="form-control" hidden/>
                        <div class="form-group col-md-12">
                            <label asp-for="DailyMovement.ProductId">Product</label>
                            <div class="row">
                                <select id="ddlProducts" asp-for="DailyMovement.ProductId" name="DailyMovement.ProductId" asp-items="ViewBag.Products" class="form-control" style="width: 100%">
                                    <option value="">--  Select Products  --</option>
                                </select>
                            </div>
                            <span asp-validation-for="DailyMovement.ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DailyMovement.Quantity" class="control-label">Volume</label>
                            <input asp-for="DailyMovement.Quantity" class="form-control" />
                            <span asp-validation-for="DailyMovement.Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="DailyMovement.MainDistributorId">Main Distributor</label>
                            <div class="row">
                                <select id="ddlDistributors" asp-for="DailyMovement.MainDistributorId" name="DailyMovement.MainDistributorId" asp-items="ViewBag.MainDistributors" class="form-control" style="width: 100%">
                                    <option value="">--  Select Main Distributor  --</option>
                                </select>
                            </div>
                            <span asp-validation-for="DailyMovement.MainDistributorId" class="text-danger"></span>
                        </div>
                        @if (Model.AppUser.AppRole.Title == "T.M")
                        {
                            <div class="form-group col-md-12">
                                <label asp-for="DailyMovement.StockistOrFarmerId">Stockist</label>
                                <div class="row">
                                    <select id="ddlReceivingCustomers" asp-for="DailyMovement.StockistOrFarmerId" name="DailyMovement.StockistOrFarmerId" asp-items="ViewBag.Stokists" class="form-control" style="width: 100%">
                                        <option value="">--  Select Stockist  --</option>
                                    </select>
                                </div>
                                <span asp-validation-for="DailyMovement.StockistOrFarmerId" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-12">
                                <label asp-for="DailyMovement.StockistOrFarmerId">M.S.F / Corporate </label>
                                <div class="row">
                                    <select id="ddlReceivingCustomers" asp-for="DailyMovement.StockistOrFarmerId" name="DailyMovement.StockistOrFarmerId" asp-items="ViewBag.MSFOrCorporates" class="form-control" style="width: 100%">
                                        <option value="">--  Select M.S.F / Corporate  --</option>
                                    </select>
                                </div>
                                <span asp-validation-for="DailyMovement.StockistOrFarmerId" class="text-danger"></span>
                            </div>
                        }
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submit">Action</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        $(document).ready(function () {
            $("#ddlDistributors").select2({
                dropdownParent: $("#InputModal")
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#ddlProducts").select2({
                dropdownParent: $("#InputModal")
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#ddlReceivingCustomers").select2({
                dropdownParent: $("#InputModal")
            });
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlDistributors", function () {
            $("input[name=MainDistributorId]").val($(this).find("option:selected").text());
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlProducts", function () {
            $("input[name=ProductId]").val($(this).find("option:selected").text());
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlReceivingCustomers", function () {
            $("input[name=StockistOrFarmerId]").val($(this).find("option:selected").text());
        });
    </script>