@page
@model TwigaCRM.Pages.RAMDailyCollectionReports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RAMDailyCollectionReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.RAM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.RAM.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.SalesDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.SalesDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.IsSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.IsSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.ApprovalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.ApprovalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.CreateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.CreateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAMDailyCollectionReport.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAMDailyCollectionReport.UpdateAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RAMDailyCollectionReport.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
