@page
@model TwigaCRM.Pages.DailyMovementReports.IndexModel

@{
    ViewData["Title"] = "D.M.R";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Daily Movement Reports</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" data-toggle="modal" data-target="#InputModal">New D</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyMovementReports[0].SalesPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMovementReports[0].SalesDate)
            </th>
            <th>
                Submitted
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMovementReports[0].FOAstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMovementReports[0].TLstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyMovementReports[0].UpdateAt)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.DailyMovementReports) {
                @if (item.IsSubmitted)
                                {
                      
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesPerson.FirstName)
                            @Html.DisplayFor(modelItem => item.SalesPerson.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesDate)
                        </td>
                        <td>
                            @if (item.IsSubmitted){
                                <span>Yes</span>
                            }else{
                                <span>No</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FOAstatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TLstatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateAt)
                        </td>
                        <td>
                            @*<a asp-page="./Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" class="col-5"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>|*@
                            <a asp-page="./Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" class="col-5"><i class="fa fa-info" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>